.main-countryview {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4.5%;
}

.return-button-container {
    display: flex;
    align-items: center;
}

.return-button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 130px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.arrow-icon {
    position: absolute;
    left: 15px;
}

.country-details-container {
    display: flex;
    margin-top: 100px;
}

.flag-container img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.flag-container {
    width: 100%;
}

.information-container {
    display: flex;
    gap: 50px;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.information {
    display: flex;
    gap: 150px;
}

.information p, .bordering-countries-container p {
    font-weight: 600;
}

.information span, .bordering-countries-container span {
    font-weight: 300;
}

.return-button-container button:hover, .bordering-countries-container button {
    cursor: pointer;
}

.left-info, .right-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bordering-countries-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.bordering-countries-container button {
    padding: 3px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px;
    border-radius: 4px;
    border: none;
}

@media (max-width: 960px) {
    .country-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
