.dropdown-menu-container {
    display: inline-flex;
    flex-direction: column;
    align-self: flex-start;
    position: relative;
}

.dropdown-button {
    padding: 20px;
    border-radius: 4px;
    padding-right: 80px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px;
    font-size: 14px;
}

.dropdown-button-container {
    display: flex;
    align-items: center;
    border: none;
}

.dropdown-icon {
    position: absolute;
    margin-left: 165px;
}

.dropdown-button-container:hover {
    cursor: pointer;
}

.dropdown-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
    top: 100%;
    margin-top: 7px;
    opacity: 0;
    transform: translateY(-15px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.dropdown-menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto
}

.dropdown-menu-item {
    border: none;
    padding: 10px;
    padding-left: 20px;
    background-color: hsl(0, 0%, 100%);
    text-align: left;
}

.dropdown-menu-item:hover {
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
}