.search-container {
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    margin-left: 15px;
    color: #aaa;
}

.search-input {
    width: 500px;
    padding: 20px;
    padding-left: 50px;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px;
    font-size: 14px;
}

.search-input:focus {
    outline: none;
}