.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4.5%;
    padding-block: 25px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px;
}

.sign {
    font-weight: 800;
    color: hsl(200, 15%, 8%);
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
}

.dark-mode-toggle .fa-moon {
    margin-right: 10px;
}

.dark-mode-toggle span {
    font-weight: 600;
    font-size: 18px;
}
