* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

body {
  background-color: hsl(0, 0%, 98%);
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 0px));
  padding-top: 70px;
  grid-row-gap: 100px; 
  justify-content: space-between;
}

.search_region-container {
  display: flex;
  justify-content: space-between;
}

.main {
  padding: 4.5%;
}

@media (max-width: 650px) {
  .countries-container {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .search_region-container {
      flex-direction: column;
      gap: 40px;
  }
}
