* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  font-family: "Nunito Sans";
}

body {
  background-color: hsl(0, 0%, 98%);
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px 50px;
  padding: 20px;
  padding-top: 70px;
  justify-items: center;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1370px) {
  .countries-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.main {
  padding: 4.5%;
}