* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

.App {
  height: 100%;
  background-color: var(--background-color);
}

.country-card, button {
  background-color: var(--foreground-color);
  color: var(--text-color);
}

p, span, h2, h3, h1 {
  color: var(--text-color);
}

input {
  color: var(--text-color);
  background-color: var(--foreground-color);
}

.navbar {
  background-color: var(--foreground-color);
}