:root {
    --background-color: hsl(0, 0%, 98%);
    --foreground-color: hsl(0, 0%, 100%);
    --text-color: hsl(200, 15%, 8%);
}

[data-theme="dark"] {
    --background-color: hsl(207, 26%, 17%);
    --foreground-color: hsl(209, 23%, 22%);
    --text-color: hsl(0, 0%, 100%);
}